<div class="col-md-4">
    <h1 style="font-size: 13px; color: #6B8E23;">Pages</h1>
    <br />
    <ul class="list-unstyled api-links">
        <li><a href="/api/documentation/api-methods"">API Endpoints</a></li>
        <li><a href="#">Metadata</a></li>
        <li><a href="#">Input Parameters</a></li>
        <li><a href="#">Status Codes</a></li>
      </ul>
      <br />
      <h1 style="font-size: 13px; color: #6B8E23;">API Endpoints</h1>
    <br />
    <ul class="list-unstyled api-links">
        <li><a href="/api/documentation/show-companies">companys</a></li>
        <li><a href="/api/documentation/company-name">companys/:name</a></li>
        <li><a href="#">charge_per_kg</a></li>
        <li><a href="#">coverage</a></li>

      </ul>
</div>