<div class="container searchContainer">
    <div class="search card card-body">
      <h1 style="font-size: 13px; color: green;">Find logistics companies in Nigeria</h1>
      <input type="text" id="searchText" class="form-control" placeholder="enter a search keyword...">
    </div>
    <br>
    <div id="companies"></div>
  </div>