<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h4 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Enter your email <address></address>
        </h4>
        <% include ./partials/messages %>
        <form action="/users/reset-password" method="POST">
          
          <div class="form-group">
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter your email"
              
            />
          </div>
          
          
          </div>
          <button type="submit" class="btn btn-danger btn-block">
            Send my password reset link
          </button>
        </form>
       
      </div>
    </div>
  </div>