<div class="row" style="padding-top: 50px;"> 
    <% include ./partials/api-side-menu %>
    <div class="col-md-8">
            <h1 class="mb-5 api-title">Dispatch API</h1>
            <P>Dispatch API is a robust service that permits you to search and retrieve logistics companies in Nigeria in the simplest possible way. It just works.</P>
            <hr>
            <h3 class="api-heading mb-4">Follow these steps</h3>
            <ul type="disc">
                <li><b>Read Dispatch API Terms & Conditions and the Privacy Policy:</b> <br />
                    Before getting started, you must take a look at the API Terms & Conditions and 
                            the Privacy Policy. We’ve worked hard to make this service completely legal so 
                            that we are all protected from any foreseeable liability. Take the time to read 
                            this stuff</li><br />

                 <li><b>Register for an API Key:</b> <br />
                    All you need to do is <a href="/users/register" style="color:red;">register</a> in order to get your API key, a mandatory parameter 
                    for most of our API calls. It’s your personal identifier
                     and should be kept secret.</li><br />

                <li><b>Integrate the Dispatch service with your web site or application:</b> <br />
                              Check out our <a href="/api/documentation/api-methods" style="color:red;">API endpoints</a> to find out how to make calls to various endpoints </li>
            </ul>
            
    </div>
</div>