<div class="row" style="padding-top: 50px;"> 
        <% include .././partials/api-side-menu %>
        <div class="col-md-8">
                <h1 class="mb-3 api-title">API Endpoints</h1>
            
                <hr>
                <p class="api-paragraph">These endpoints requires authentication.</p>
                <p class="api-paragraph">What does Dispatch <b>API</b> do?</p>
                <p class="api-paragraph">The Dispatch <b>API</b> allows you to read objects from our huge 
                    100% licensed logistics companies database.</p>
                <p class="api-paragraph">To make your life easier we are providing you with one or 
                    more examples to show you how it could work in the wild. You’ll find both the API request 
                    and <b>API</b> response in all the available 
                    output formats for each <b>API</b> call. Follow the links below for the details.</p>
                <p class="api-paragraph">The current <b>API</b> version is 1.1, the root URL is located at <b> http://localhost:3050/api/</b></p>
                <p class="api-paragraph">Every response includes a status_code. A list of all status codes can be consulted at <a href="#" style="color:red;">Status Codes.</a></p>
                <p class="api-paragraph">Do you have an idea or suggestion for an <b>API</b> call that you don’t see here? <a href="/contact" style="color:red;">Let us know</a> and we’ll do our best to respond!</p>
                
        </div>
    </div>